html {
  font-size: 100%; }

body {
  font-size: 1rem;
  font-family: "roboto", sans serif;
  font-weight: 400; }

.logo {
  padding-top: 36px; }

.container {
  max-width: 1024px; }

.container-sm {
  max-width: 420px;
  margin: 0 auto; }

.feature-details {
  max-width: 620px;
  margin: 0 auto 40px auto; }

h1 {
  font-size: 4rem;
  font-weight: 300; }

h2.font-size-sm {
  font-size: 1rem;
  color: #7AD0C0;
  line-height: 24px; }

h3 {
  font-size: 1.875rem;
  font-weight: 300; }

p {
  color: #727875; }

a {
  color: #7AD0C0;
  text-decoration: none; }

a:hover {
  color: #7AD0C0;
  text-decoration: underline; }

.btn {
  border-radius: 0;
  padding: .6rem 2rem; }

.btn-black {
  background-color: #303034;
  color: #fff; }

.text-white {
  color: #fff; }

.text-light {
  color: #B5BBBA; }

.form-control {
  border-radius: 0;
  padding: .6rem .75rem; }

strong {
  color: #303034; }

.line-break-left,
.line-break-center {
  background-color: #7AD0C0;
  width: 60px;
  height: 2px;
  margin: 14px 0; }

.line-break-center {
  margin: 14px auto; }

section {
  padding: 80px 0; }

.bg-pattern {
  background-color: #7AD0C0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500' viewBox='0 0 500 500'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg fill='#5FB1A3'%3E%3Cpath d='M150 35h-1v2h1v-2zm1 0h1v2h-1v-2zm2-3h-20a4 4 0 1 0 0 8h34a4 4 0 1 0 0-8h-14zm0 2h-5a2 2 0 1 0 0 4h5a2 2 0 1 0 0-4zm-8.47 4c.22.37.5.71.82 1H133a3 3 0 1 1 0-6h12.35c-.32.29-.6.62-.81 1H133a2 2 0 1 0 0 4h11.54-.01zM133 35h11.13a4.01 4.01 0 0 0 0 2H133a1 1 0 1 1 0-2zm34 4h-11.35c.32-.29.6-.62.81-1H167a2 2 0 1 0 0-4h-10.54.01c-.22-.37-.5-.71-.82-1H167a3 3 0 1 1 0 6zm0-2h-10.13a4.01 4.01 0 0 0 0-2H167a1 1 0 1 1 0 2zm-12 12h1v2h-1v-2zm3 0h-1v2h1v-2zm1-3h-26a4 4 0 1 0 0 8h34a4 4 0 1 0 0-8h-8zm-5 2h5a2 2 0 1 1 0 4h-5a2 2 0 1 1 0-4zm-4 2a4 4 0 0 1 .13-1H133a1 1 0 1 0 0 2h17.13a4.01 4.01 0 0 1-.13-1zm.54-2h-.01c.22-.37.5-.71.82-1H133a3 3 0 1 0 0 6h18.35c-.32-.29-.6-.62-.82-1H133a2 2 0 1 1 0-4h17.54zM167 53h-5.35c.32-.29.6-.63.82-1H167a2 2 0 1 0 0-4h-4.54c-.21-.38-.49-.71-.81-1H167a3 3 0 1 1 0 6zm0-2h-4.13a4.01 4.01 0 0 0 0-2H167a1 1 0 1 1 0 2zm-24 12h1v2h-1v-2zm3 0h-1v2h1v-2zm1-3h20a4 4 0 1 1 0 8h-34a4 4 0 1 1 0-8h14zm2.65 1H167a3 3 0 1 1 0 6h-17.35c.32-.29.6-.62.81-1H167a2 2 0 1 0 0-4h-16.54c-.21-.38-.49-.71-.81-1zm-10.3 0H133a3 3 0 1 0 0 6h6.35c-.32-.29-.6-.62-.81-1H133a2 2 0 1 1 0-4h5.54c.21-.38.49-.71.81-1zm-1.22 2H133a1 1 0 1 0 0 2h5.13a4.01 4.01 0 0 1 0-2zm12.74 0a4.01 4.01 0 0 1 0 2H167a1 1 0 1 0 0-2h-16.13zM142 62h5a2 2 0 1 1 0 4h-5a2 2 0 1 1 0-4zm-15-34a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm47-1a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-47 47a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm47-1a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-51-50h54v54h-54V23zm1 1h52v52h-52V24zm-4-2c0-1.1.9-2 2-2h56a2 2 0 0 1 2 2v56a2 2 0 0 1-2 2h-56a2 2 0 0 1-2-2V22zm2 0h56v56h-56V22zM37 228a8 8 0 0 1 8-8h10a8 8 0 0 1 8 8v11h2v-2h3v14a18 18 0 0 1-15 17.75v3.46L66 275v5H34v-5l13-2.79v-3.46A18 18 0 0 1 32 251v-14h3v2h2v-11zm18-2v-4a6 6 0 0 1 6 6v1H51v2h10v2H51v2h10v2H51v2h10v2H51v2h10v2H51v2h10v2H51v2h10v1a6 6 0 0 1-6 6v-4h-2v4h-2v-4h-2v4h-2v-4h-2v4a6 6 0 0 1-6-6v-1h10v-2H39v-2h10v-2H39v-2h10v-2H39v-2h10v-2H39v-2h10v-2H39v-2h10v-2H39v-1a6 6 0 0 1 6-6v4h2v-4h2v4h2v-4h2v4h2zm-18 15h-2v10a15 15 0 1 0 30 0v-10h-2v11a8 8 0 0 1-8 8H45a8 8 0 0 1-8-8v-11zm13 28h-1v3h2v-3h-1zm-14 9v-1h28v1H36zm15.79-4l9.33 2H38.88l9.33-2h3.58zM66 239v-1h1v13a17 17 0 0 1-34 0v-13h1v13a16 16 0 1 0 32 0v-12zM24 60h-1v16a1 1 0 0 0 1 1h26v-1H24V60zm28-23v-1H28v1h24zm10-13v5h2v3h14a2 2 0 0 1 2 2v42a4 4 0 0 1-4 4H24a4 4 0 0 1-4-4V34c0-1.1.9-2 2-2h14v-3h2v-5a4 4 0 0 1 4-4h16a4 4 0 0 1 4 4zm-20 0h16v5h2v-5a2 2 0 0 0-2-2H42a2 2 0 0 0-2 2v5h2v-5zm-4 8h6v-1h-6v1zm8 0h8v-3h2v-3H44v3h2v3zm10 0h6v-1h-6v1zM22 57.3V76c0 1.1.9 2 2 2h52a2 2 0 0 0 2-2V57.3a7.98 7.98 0 0 1-6 2.7H56v6a3 3 0 0 1-3 3h-.59a1 1 0 0 0-.7.3l-1 1-.71.7-.7-.7-1-1a1 1 0 0 0-.71-.3H47a3 3 0 0 1-3-3v-6H28a7.98 7.98 0 0 1-6-2.7zm50 .7H55.83a3 3 0 0 0-.6-1H72a5 5 0 0 0 5-5V34h1v18a6 6 0 0 1-6 6zm-19-4.59V56h-6v-2.59l3-3 3 3zM28 57h16.76a3 3 0 0 0-.59 1H28a6 6 0 0 1-6-6V34h1v18a5 5 0 0 0 5 5zm26 5h1v4a2 2 0 0 1-2 2h-.59a2 2 0 0 0-1.41.59l-1 1-1-1a2 2 0 0 0-1.41-.59H47a2 2 0 0 1-2-2v-4h1v1a3 3 0 0 0 3 3h2a3 3 0 0 0 3-3v-1zm-2 0h-4v1a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-1zm2-2v-1a1 1 0 0 0-1-1h-6a1 1 0 0 0-1 1v1h8zM24 34v18a4 4 0 0 0 4 4h18v-3l3.3-3.3.7-.7.7.7L54 53v3h18a4 4 0 0 0 4-4V34H24zm129 204a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 2a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 3a5 5 0 1 0 0-10 5 5 0 0 0 0 10zm4-5a4 4 0 1 1-8 0 4 4 0 0 1 8 0zm-24 16v11h-1v3h12v-3h-1v-12h-10v1zm9 0h-8v11h1v-10h6v10h1v-11zm-6 11v-4h4v4h-4zm4-5h-4v-4h4v4zm2 6h1v1h-10v-1h9zm21-1v-12h10v12h1v3h-12v-3h1zm9-11v11h-1v-10h-6v10h-1v-11h8zm-2 6v-4h-4v4h4zm3 6h-10v1h10v-1zm-3-1v-4h-4v4h4zm-18 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-2-2v-6h2v1h-1v5h-1zm0 5v3h1v-3h5v-1h-6v1zm6-11v1h-1v5h-1v-6h2zm22 21v-27l1.3 1.3.7.7.7-.7 1.6-1.6.7-.7-.7-.7-4.3-4.3v-21h-21l-3.3-3.3-.7-.7-.7.7-3.3 3.3h-21v21l-4.3 4.3-.7.7.7.7 1.6 1.6.7.7.7-.7 1.3-1.3v27h-5v2h60v-2h-5zm-24.3-51.3L169 245h-38l18.3-18.3.7-.7.7.7zM127 249l3-3h40l3 3v23h-16v-19h-14v19h-16v-23zm46-18v-2h-4v-1h2v-1h1v1h1v-2h-17l2 2h3v-1h1v1h2v1h-5l5 5h1v-1h1v1h4v1h-5l8 8v-11h-7v-1h2v-1h1v1h4zm-46-5h17l-5 5v-1h-1v1h-5v-1h-1v1h-2v1h8l-11 11v-8h7v-1h-4v-1h-1v1h-2v-5h6v-1h-3v-1h-1v1h-2v-2zm-4 25.59l26.3-26.3.7-.7.7.7 26.3 26.3 1.59-1.59L150 221.41 121.41 250l1.59 1.59zM139 278v-3h2v-2h-14v5h12zm20 0v-1h-18v1h18zm14 0v-5h-14v2h2v3h12zm-17-6h-1v-17h-10v17h-1v-18h12v18zm-10-16h8v16h-8v-16zm11 18v1h-14v-1h14zM38.75 147l-.25-1H45v6h-5l-1.25-5zm1.03 0l1 4H44v-4h-4.22zm6.22-1v6h9v-6h-9zm1 1v4h7v-4h-7zm9-1v6h9v-6h-9zm1 1v4h7v-4h-7zm9-1v6h5l1.25-5 .25-1H66zm1 1v4h3.22l1-4H67zm-28.75-2H45v-5h-8l.25 1 1 4zm.03-4l.75 3H44v-3h-5.72zM74 140h-8v5h6.75l1-4 .25-1zm-2.03 4l.75-3H67v3h4.97zM54 145h1v-5h-9v5h8zm-7-1h7v-3h-7v3zm17 1h1v-5h-9v5h8zm-7-1h7v-3h-7v3zm-37-18.5a3.5 3.5 0 0 1 3.5-3.5H27v1h1.96c1.1 0 2.21.87 2.48 1.94l1.01 4.06H79a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1l-4.75 19-.5 2-.75 3H32a3 3 0 1 0 0 6h38.5a2.5 2.5 0 1 1 0 5H69l-1.3 1.3A4.99 4.99 0 1 1 59 170H43l-1.3 1.3A4.99 4.99 0 1 1 33 170h-1a8 8 0 1 1 0-16h1.55l-.5-2-6-24H27v1h-3.5a3.5 3.5 0 0 1-3.5-3.5zm3.5-1.5H25v3h-1.5a1.5 1.5 0 1 1 0-3zm3.5 2h1.61l.38 1.51 6.5 26 .62 2.49H32a6 6 0 1 0 0 12h38.5a.5.5 0 0 0 .5-.5.5.5 0 0 0-.5-.5H32a5 5 0 0 1 0-10h39.44l.25-1H37.14l-.38-1.51-7.26-29.06c-.05-.19-.37-.43-.54-.43H27v1zm10 46v-2h3.17l-2 2H37zm26 0v-2h3.17l-2 2H63zm-29.55-39l-.45-1.8v-.2h45v2H33.45zm5.25 21l-5-20h1.8l1.25 5H45v-5h1v5h9v-5h1v5h9v-5h1v5h8.25l1.25-5h1.69l-.13.51L72.19 154H38.7zm35.77-20H67v4h6.47l1-4zM64 134h-7v4h7v-4zm-10 0h-7v4h7v-4zm-10 0h-7.47l1 4H44v-4zm-7 42a3 3 0 0 0 3-3l-1 1h-4v-3.24a3 3 0 0 0 2 5.24zm26 0a3 3 0 0 0 3-3l-1 1h-4v-3.24a3 3 0 0 0 2 5.24zm82.67-36.77c-.2.1-.43.14-.67.14v-1c.08 0 .17-.01.22-.04l1.11-.56c.39-.19.95-.19 1.34 0l1.11.56c.1.05.34.05.44 0l1.11-.56c.39-.19.95-.19 1.34 0l1.11.56c.05.03.14.04.22.04v1c-.24 0-.47-.05-.67-.14l-1.11-.56a.64.64 0 0 0-.44 0l-1.11.56c-.39.19-.95.19-1.34 0l-1.11-.56a.64.64 0 0 0-.44 0l-1.11.56zM132 141a17 17 0 0 1 17-17v1a16 16 0 0 0-14.31 23.16l-.9.44A16.93 16.93 0 0 1 132 141zm38 0c0 7.44-3.87 13.98-9.71 17.71l-2.7 2.7a2 2 0 0 0-.59 1.42V166a2 2 0 0 1-2 2v1.09a1.5 1.5 0 0 1 0 2.82v1.18a1.5 1.5 0 0 1 0 2.82v.74a2 2 0 0 1-1.26 1.85l-3.56 1.43a1 1 0 0 1-.37.07h-1.62a1 1 0 0 1-.37-.07l-3.56-1.43a2 2 0 0 1-1.26-1.85v-.74a1.5 1.5 0 0 1 0-2.82v-1.18a1.5 1.5 0 0 1 0-2.82V168a2 2 0 0 1-2-2v-3.17a2 2 0 0 0-.59-1.42l-2.7-2.7A21 21 0 1 1 170 141zm-17 20.62c.83-.16 1.65-.37 2.45-.63a4 4 0 0 0-.45 1.84V166h-4v-5l6-23h-3v1h1.7l-4.8 18.4a2 2 0 0 0-.9-1.13V150h1a1 1 0 1 0 0-2h-4a1 1 0 1 0 0 2h1v6.27a2 2 0 0 0-.9 1.13l-4.8-18.4h1.7v-1h-3l6 23v5h-4v-3.17a4 4 0 0 0-.45-1.84c.8.26 1.62.47 2.45.63v-2.04A18.98 18.98 0 0 1 130 141a19 19 0 1 1 23 18.58v2.04zm-3-.62v5h-2v-8c0-.37.2-.7.5-.87l.5-.29.5.3c.3.17.5.5.5.86v3zm3 12v-1h-8v1h8zm-8 3v.65l3.39 1.35h1.22l3.39-1.35V176h-8zm0-7v-1h8v1h-8zm-2 1.5c0-.28.22-.5.5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0 4c0-.28.22-.5.5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm208 63.89a54.17 54.17 0 0 0 18-7.24v-1.18a53.2 53.2 0 0 1-18 7.4v1.02zM373 220h-2v4.23a49.78 49.78 0 0 1-22 9.96V233h-22v2h-2a3 3 0 0 0-3 3v1h-2v12h2v1a3 3 0 0 0 3 3h2v2h5.8l.81 4.05c.16.82.81 1.37 1.58 1.41l2.5 15.56A2.43 2.43 0 0 0 340 280h2.98c1.12 0 1.94-.9 1.85-2l-1.1-13.84h.35a3 3 0 0 0 2.78-4.3l-.87-1.79V257h3v-1.2a49.78 49.78 0 0 1 22 9.97V270h3a3 3 0 0 0 3-3v-17h1a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2h-1v-17a3 3 0 0 0-3-3h-1zm1 2h-1v46h1a1 1 0 0 0 1-1v-44a1 1 0 0 0-1-1zm-3 41.25v-36.5a51.75 51.75 0 0 1-22 9.47v17.56a51.75 51.75 0 0 1 22 9.47zM327 253v-1h-1a1 1 0 1 1 0-2h1v-2h-1a1 1 0 1 1 0-2h1v-2h-1a1 1 0 1 1 0-2h1v-2h-1a1 1 0 1 1 0-2h1v-1h-2a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h2zm-4-4v-8h-1v8h1zm55-1h-1v-6h1v6zm-45.6 7l-.4-2h14v2h1v-20h-16v20h1.4zm11.17 7.15l.57.02a1 1 0 0 0 .92-1.44l-.59-1.22-1.08.36.18 2.28zM329 248v7h1v-20h-1v13zm12.27 10.47l-5.75 1.92-1.08-5.39H344v2.56l-2.73.9zm-1.61 19.23l-2.68-16.75 4.37-1.46 1.48 18.51h-2.82c-.13 0-.33-.17-.35-.3zM441 423h12v1h-12v-1zm5 13a5 5 0 0 1 1.58.26l-.31.94a4 4 0 0 0-4.85 2.01l-.9-.45A5 5 0 0 1 446 436zm0 6a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm5 5c-.82 0-1.58-.25-2.22-.67l.56-.83a2.99 2.99 0 0 0 3.32 0l.56.83c-.64.42-1.4.67-2.22.67zm9.47-8.24a5 5 0 0 0-6.05-2.5l.31.94a4 4 0 0 1 4.85 2.01l.9-.45zM457 441a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-11.92 10a6.05 6.05 0 0 1-.08-1h12a6 6 0 0 1-11.92 1zm1.92 2a5 5 0 0 0 8 0h-8zm-.58-1a4.96 4.96 0 0 1-.32-1h9.8c-.07.35-.18.68-.32 1h-9.16zm4.58 23a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm17-34.65V428a6 6 0 0 0-4.33-5.76A5.99 5.99 0 0 0 459 420h-21a6 6 0 0 0-4 10.47v9.88a4 4 0 0 0 3 6.65 14 14 0 0 0 7 12.13v1.1l-17.36 9.35A5.52 5.52 0 0 0 424 474v6h52v-6a5.52 5.52 0 0 0-2.64-4.42L458 461.31v-2.18a14 14 0 0 0 7-12.13 4 4 0 0 0 3-6.65zM465 430v9c.35 0 .68.04 1 .13V428a4 4 0 0 0-2.88-3.84l-.6-.18-.4-.49A3.99 3.99 0 0 0 459 422h-21a4 4 0 1 0 0 8h27zm-2 17v-15h-24v15a12 12 0 0 0 24 0zm-26-8v-7.08a5.95 5.95 0 0 1-1-.26v7.47c.32-.09.65-.13 1-.13zm28 5v1a2 2 0 1 0 0-4v3zm-28 1v-4a2 2 0 1 0 0 4zm9 15.08v1.1l5 5 5-5v-1.1a13.97 13.97 0 0 1-10 0zm6.41 7.5L457 463V471.99c0 1.32-.2 1.4-1.12.48l-4.17-4.18.7-.7zm-6.29 4.89l4.17-4.18-.7-.7L445 463v8.99c0 1.33.19 1.4 1.12.48zm9.05.7L451 469l-4.17 4.17c-1.56 1.56-2.83 1.04-2.83-1.18v-9.49l-16.42 8.84A3.57 3.57 0 0 0 426 474v4h5v-4h1v4h36v-4h1v4h5v-4c0-.92-.78-2.22-1.58-2.66L458 463.58v8.41c0 2.21-1.27 2.74-2.83 1.18zM250 230a14 14 0 0 0-12.26 7.23l.9.43A13 13 0 0 1 250 231v-1zm-13.96 13c.07-1.09.27-2.14.58-3.15l.98.23c-.3.93-.49 1.91-.56 2.92h-1zm-.04 2h1v8h-1v-8zm10.02-20.6a4 4 0 1 1 7.96 0A20 20 0 0 1 270 244v18a6 6 0 0 0 6 6h4v3a3 3 0 0 1-3 3h-21a6 6 0 0 1-12 0h-21a3 3 0 0 1-3-3v-3h4a6 6 0 0 0 6-6V244a20 20 0 0 1 16.02-19.6zm5.98-.4v.1a20.24 20.24 0 0 0-4 0v-.1a2 2 0 1 1 4 0zm-22.7 44h41.4c-.34-.3-.66-.64-.95-1H254v-1h15.07a7.96 7.96 0 0 1-1.07-4v-18a18 18 0 0 0-36 0V262.01a7.98 7.98 0 0 1-2.7 5.99zm20.7 10a4 4 0 0 1-4-4h8a4 4 0 0 1-4 4zm-28-8v1a1 1 0 0 0 1 1h54a1 1 0 0 0 1-1v-1h-56zm23 63h-1v1h17v-1h-16zm2 3h-1v1h13v-1h-12zm25 30v3h1v5h-26v6l-6-3-6 3v-6h-6a4 4 0 0 1-4-4v-46a4 4 0 0 1 4-4h44v44h-1v2zm-2-2v1h-38v1h3v3h-5v-5h40zm-35 7h-7v-9h43v-1h-42a2 2 0 0 0-2 2v7c0 1.1.9 2 2 2h6v-1zm-8-11.46a3.98 3.98 0 0 1 2-.54h42v-37h-37v35h-1v-35h-1v35h-1v-35h-2a2 2 0 0 0-2 2v35.54zM247 372h24v-1h-24v1zm0-3v-3h23v1h-18v1h18v1h-23zm-2-3h-8v10.76l4-2 4 2V366zM34 424a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm33 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm1 51a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-35 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm35-27a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-16-9a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm-2 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a5 5 0 1 0 0-10 5 5 0 0 0 0 10zm4-5a4 4 0 1 1-8 0 4 4 0 0 1 8 0zm-18 17h-1v16h16v-1h2.57l-.57 1h12v-7h-2v-18.51a15 15 0 1 0-27-2.1V458zm3 2h-2v12h12v-2h-2a8 8 0 0 1-8-8v-2zm-2-2h2v-6.8a15.05 15.05 0 0 1-2-2.71V458zm3-5.82V458h1v4a6 6 0 0 0 6 6h4v1h4.86l1.14-2h2v-14c-1.8 1.35-3.9 2.3-6.18 2.74l-1.96 7.3A4 4 0 1 1 47 458l1.17-2.11a14.94 14.94 0 0 1-8.17-3.7zm20 0V467h2v-17c-.6.8-1.26 1.52-2 2.18zM55.29 470H51v2h3.14l1.15-2zm-7.11-10H47a2 2 0 1 0 1.93 2.52l2-7.5-2.18 3.95-.57 1.03zm1.05-6.02a13 13 0 1 1 4.18-.43l1.08-4.04.51-1.93-1.93-.52-3.84 6.92zM58.16 469l-1.71 3H63v-3h-4.84zM34 450a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-5-26a4 4 0 0 1 4-4h34a4 4 0 0 1 4 4v52a4 4 0 0 1-4 4H33a4 4 0 0 1-4-4v-52zm4-2h34a2 2 0 0 1 2 2v52a2 2 0 0 1-2 2H33a2 2 0 0 1-2-2v-52c0-1.1.9-2 2-2zm124 31h-4v6h1v-5h3v-1zm-28-29a5 5 0 0 0-5 5v6h1v-6a4 4 0 0 1 4-4h6v-1h-6zm-4 13h-1v4h1v-4zm4 43h42a9 9 0 0 0 9-9v-42a9 9 0 0 0-9-9h-42a9 9 0 0 0-9 9v42a9 9 0 0 0 9 9zm6-40a3 3 0 0 0-3 3.01c0 .77.57 1.84 1.2 2.28a3 3 0 0 1 .53 3.92l-.34.5c-.5.75-1.5 1.29-2.39 1.29h-9v20a7 7 0 0 0 7 7h20v-9c0-.22-.2-.6-.39-.73l-.5-.33a1.02 1.02 0 0 0-1.4.26A5.2 5.2 0 0 1 143 470a5 5 0 0 1 0-10c1.3 0 2.85.76 3.73 1.79a1 1 0 0 0 1.37.27l.51-.33c.19-.13.39-.5.39-.73v-10h-10c-.89 0-1.9-.54-2.39-1.28l-.34-.5a3.03 3.03 0 0 1 .52-3.95A3.2 3.2 0 0 0 138 443a3 3 0 0 0-3-3zm36 38h-20v-9c0-.9-.54-1.9-1.28-2.39l-.5-.34a3 3 0 0 0-3.93.53 3.29 3.29 0 0 1-2.28 1.2 3 3 0 1 1-.01-6c.77 0 1.85.58 2.27 1.21a3.03 3.03 0 0 0 3.94.52l.5-.34c.75-.5 1.29-1.5 1.29-2.39v-10h10c.22 0 .6.2.73.39l.33.5a1 1 0 0 1-.27 1.38A5.33 5.33 0 0 0 160 457a5 5 0 0 0 10 0 5.2 5.2 0 0 0-1.8-3.71 1.02 1.02 0 0 1-.26-1.4l.33-.5c.13-.19.51-.39.73-.39h9v20a7 7 0 0 1-7 7zm-10-29h-10v-10c0-.22.2-.6.39-.73l.5-.33a1 1 0 0 1 1.38.27A5.31 5.31 0 0 0 157 440a5 5 0 0 0 0-10 5.2 5.2 0 0 0-3.71 1.8c-.32.44-.94.57-1.4.26l-.5-.33c-.18-.13-.39-.5-.39-.73v-9h20a7 7 0 0 1 7 7v20h-9c-.9 0-1.9.54-2.39 1.28l-.34.5a3 3 0 0 0 .53 3.93c.63.44 1.2 1.51 1.2 2.28a3 3 0 1 1-6 .01c0-.77.58-1.85 1.21-2.27 1.11-1 1.36-2.67.52-3.94l-.34-.5A3.07 3.07 0 0 0 161 449zm-30 0h-9v-20a7 7 0 0 1 7-7h20v9c0 .9.54 1.9 1.28 2.39l.5.34a3 3 0 0 0 3.93-.53 3.29 3.29 0 0 1 2.28-1.2 3 3 0 1 1 .01 6 3.2 3.2 0 0 1-2.27-1.21 3.04 3.04 0 0 0-3.94-.52l-.5.34c-.75.5-1.29 1.5-1.29 2.39v10h-10c-.22 0-.6-.2-.73-.39l-.33-.5a1 1 0 0 1 .27-1.38A5.33 5.33 0 0 0 140 443a5 5 0 0 0-10 0 5.2 5.2 0 0 0 1.8 3.71c.44.32.57.94.26 1.4l-.33.5c-.13.19-.51.39-.73.39zm93-15a10 10 0 0 1 10-10v1a9 9 0 0 0-8.05 13.03l-.9.44A9.96 9.96 0 0 1 224 434zm6-4.83V428l1 .6 8.03 4.82.97.58-.97.58-8.03 4.82-1 .6v-10.83zm8.06 4.83l-7.06 4.23v-8.46l7.06 4.23zm9.94 0a14 14 0 1 1-28 0 14 14 0 0 1 28 0zm-14 12a12 12 0 1 0 0-24 12 12 0 0 0 0 24zm0 10a10 10 0 0 0-8.95 14.47l.9-.44A9 9 0 0 1 234 457v-1zm6 5v10l-1-.63-6.06-3.78-.94-.59.94-.59 6.06-3.79 1-.62zm-1 8.2l-5.11-3.2 5.11-3.2v6.4zm-7-7.2v9h-3v-10h3v1zm-1 0h-1v8h1v-8zm17 4a14 14 0 1 1-28 0 14 14 0 0 1 28 0zm-14 12a12 12 0 1 0 0-24 12 12 0 0 0 0 24zm22-44a10 10 0 0 1 10-10v1a9 9 0 0 0-8.05 13.03l-.9.44A9.96 9.96 0 0 1 256 434zm12-6h-1v12h4v-12h-3zm2 1h-2v10h2v-10zm-9-1h4v12h-4v-12zm1 1h2v10h-2v-10zm4 19a14 14 0 1 0 0-28 14 14 0 0 0 0 28zm12-14a12 12 0 1 1-24 0 12 12 0 0 1 24 0zm-12 22a10 10 0 0 0-8.95 14.47l.9-.44A9 9 0 0 1 266 457v-1zm-5 5v10l1-.63 6.06-3.78.94-.59v5h3v-10h-3v5l-.94-.59-6.06-3.79-1-.62zm1 8.2l5.11-3.2-5.11-3.2v6.4zm8-7.2h1v8h-1v-8zm10 4a14 14 0 1 1-28 0 14 14 0 0 1 28 0zm-14 12a12 12 0 1 0 0-24 12 12 0 0 0 0 24zm200-342v-1h-40v1h40zm-40 13h40v1h-40v-1zm0-11h40v9h-40v-9zm1 8v-7h38v7h-38zm0 6h-1v16h19v-16h-18zm17 1h-17v14h17v-14zm22-1h-19v1h19v-1zm-19 3h9v1h-9v-1zm19 0h-9v1h9v-1zm-19 2h9v1h-9v-1zm19 0h-9v1h9v-1zm-19 2h9v1h-9v-1zm19 0h-9v1h9v-1zm-19 2h9v1h-9v-1zm19 0h-9v1h9v-1zm-19 2h9v1h-9v-1zm19 0h-9v1h9v-1zm-19 2h9v1h-9v-1zm19 0h-9v1h9v-1zm-19 2h9v1h-9v-1zm19 0h-9v1h9v-1zm-46-38.17V126l.59.59L422 128l.59-.59.82-.82.59-.59.59.59.82.82.59.59.59-.59.82-.82.59-.59.59.59.82.82.59.59.59-.59.82-.82.59-.59.59.59.82.82.59.59.59-.59.82-.82.59-.59.59.59.82.82.59.59.59-.59.82-.82.59-.59.59.59.82.82.59.59.59-.59.82-.82.59-.59.59.59.82.82.59.59.59-.59.82-.82.59-.59.59.59.82.82.59.59.59-.59.82-.82.59-.59.59.59.82.82.59.59.59-.59.82-.82.59-.59.59.59.82.82.59.59.59-.59.82-.82.59-.59.59.59.82.82.59.59.59-.59.82-.82.59-.59.59.59.82.82.59.59.59-.59.82-.82.59-.59.59.59.82.82.59.59 1.41-1.41.59-.59v2l.59.59.82.82.59.59 1.41-1.41.59-.59v4l.59.59.82.82.59.59 1.41-1.41.59-.59v37a5 5 0 0 1-5 5h-50a5 5 0 0 1-5-5v-40.17zM472 168v-37.17l.59.58 1.41 1.42V168h-2zm3 4a3 3 0 0 1-2.83-2h1.82a2 2 0 0 0 2.01-2v-33.17l.59.58 1.41 1.42V169a3 3 0 0 1-3 3zm-5-3c0 1.13.37 2.17 1 3h-46a3 3 0 0 1-3-3v-38.17l1.41-1.42.59-.58.59.58 1.41 1.42 1.41-1.42.59-.58.59.58 1.41 1.42 1.41-1.42.59-.58.59.58 1.41 1.42 1.41-1.42.59-.58.59.58 1.41 1.42 1.41-1.42.59-.58.59.58 1.41 1.42 1.41-1.42.59-.58.59.58 1.41 1.42 1.41-1.42.59-.58.59.58 1.41 1.42 1.41-1.42.59-.58.59.58 1.41 1.42 1.41-1.42.59-.58.59.58 1.41 1.42 1.41-1.42.59-.58.59.58 1.41 1.42 1.41-1.42.59-.58.59.58 1.41 1.42 1.41-1.42.59-.58.59.58 1.41 1.42V169zm-21 166h1v2h-1v-2zm3 0h-1v2h1v-2zm-4-3h-15a4 4 0 0 0 0 8h34a4 4 0 0 0 0-8h-19zm-15 5h11.13a4.01 4.01 0 0 1 0-2H433a1 1 0 1 0 0 2zm11.54-3H433a2 2 0 1 0 0 4h11.54c.21.38.49.71.81 1H433a3 3 0 1 1 0-6h12.35c-.32.29-.6.62-.81 1zm12.33 3H467a1 1 0 1 0 0-2h-10.13a4.01 4.01 0 0 1 0 2zm-.4-3H467a2 2 0 1 1 0 4h-10.54c-.21.38-.49.71-.81 1H467a3 3 0 1 0 0-6h-11.35c.32.29.6.62.81 1zm-8.47 0h5a2 2 0 1 1 0 4h-5a2 2 0 1 1 0-4zm8 15h-1v2h1v-2zm1 0h1v2h-1v-2zm-3 5h13a4 4 0 0 0 0-8h-34a4 4 0 0 0 0 8h21zm-21-7a3 3 0 1 0 0 6h18.35c-.32-.29-.6-.62-.81-1H433a2 2 0 1 1 0-4h17.54c.21-.38.49-.71.81-1H433zm34 0h-5.35c.32.29.6.62.81 1H467a2 2 0 1 1 0 4h-4.54c-.21.38-.49.71-.81 1H467a3 3 0 1 0 0-6zm-4 3c0-.35-.04-.68-.13-1H467a1 1 0 1 1 0 2h-4.13c.09-.32.13-.65.13-1zm-13 0c0 .35.04.68.13 1H433a1 1 0 1 1 0-2h17.13c-.09.32-.13.65-.13 1zm9-2h-5a2 2 0 1 0 0 4h5a2 2 0 1 0 0-4zm-16 15h1v2h-1v-2zm3 0h-1v2h1v-2zm1 5h-14a4 4 0 0 1 0-8h34a4 4 0 0 1 0 8h-20zm-17-4a3 3 0 0 1 3-3h6.35c-.32.29-.6.62-.81 1H433a2 2 0 1 0 0 4h5.54c.21.38.49.71.81 1H433a3 3 0 0 1-3-3zm19.65-3H467a3 3 0 1 1 0 6h-17.35c.32-.29.6-.62.81-1H467a2 2 0 1 0 0-4h-16.54c-.21-.38-.49-.71-.81-1zm1.22 2a4.01 4.01 0 0 1 0 2H467a1 1 0 1 0 0-2h-16.13zm-12.74 2a4.01 4.01 0 0 1 0-2H433a1 1 0 1 0 0 2h5.13zm3.87-3h5a2 2 0 1 1 0 4h-5a2 2 0 1 1 0-4zm-15-34a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm47-1a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-47 47a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm47-1a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-50-50h-1v54h54v-54h-53zm52 1h-52v52h52v-52zm-54-4a2 2 0 0 0-2 2v56c0 1.1.9 2 2 2h56a2 2 0 0 0 2-2v-56a2 2 0 0 0-2-2h-56zm56 2h-56v56h56v-56zM231 42a11 11 0 0 1 11-11v1a10 10 0 0 0-8.95 14.47l-.9.45A10.95 10.95 0 0 1 231 42zm11 15a15 15 0 1 0 0-30 15 15 0 0 0 0 30zm13-15a13 13 0 1 1-26 0 13 13 0 0 1 26 0zm5 0a18 18 0 1 1-36 0 18 18 0 0 1 36 0zm-18 17a17 17 0 1 0 0-34 17 17 0 0 0 0 34zm18.27-4.73a22 22 0 1 0-6 6l1.32 1.32L257 63l1-1 3 3-1 1 1.41 1.41L263 69l.7.7 6.6 6.6.7.7 1.59 1.59L274 80l1.41-1.41 3.18-3.18L280 74l-1.41-1.41L277 71l-.7-.7-6.6-6.6-.7-.7-1.59-1.59L266 60l-1 1-3-3 1-1-1.41-1.41-1.32-1.32zM262 42a20 20 0 1 1-40 0 20 20 0 0 1 40 0zm3.12 26.3l6.59 6.58 3.17-3.17-6.59-6.59-3.17 3.17zm8.88 8.87l-1.59-1.58 3.18-3.18 1.58 1.59-3.17 3.17zM262.83 66l1.58 1.59 3.18-3.18-1.59-1.58-3.17 3.17zm.76-3.59l-3-3-1.18 1.18 3 3 1.18-1.18zm-4.53-6.52a22.14 22.14 0 0 1-3.17 3.17l1.11 1.11 3.17-3.17-1.1-1.11zM234 136h28v1h-28v-1zm0 2h28v1h-28v-1zm32 2h-32v1h32v-1zm-32 2h30v1h-30v-1zm30 5h-30v1h30v-1zm-30 2h32v1h-32v-1zm31 2h-31v1h31v-1zm-31 2h25v1h-25v-1zm32 3h-32v1h32v-1zm-32 2h30v1h-30v-1zm26 2h-26v1h26v-1zm-14 2v1h-12v-1h12zm8-18h-20v1h20v-1zm-18-20h4v1h-4v-1zm28 0h-4v1h4v-1zm-38 4v52h48v-60h-48v8zm43.27 43H272v-2.5c-.75 1-1.67 1.84-2.73 2.5zm-7.27 0h-34v-41h44v29.5c-.84.63-1.87 1-3 1h-7V171zm-34 6v1h44v-1h-15v-1h15v-1h-19v-1h19v-1h-44v1h12v1h-12v1h18v1h-18zm0-50v1h44v-1h-44zm0-1h44v-4h-44v4zm44 35.82c-.9.44-1.93.68-3 .68h-5v8a8 8 0 0 0 8-8v-.68zM362 35h-24v1h24v-1zm0 23h1v1h-1v-1zm-6 0h-1v1h1v-1zm-7 0h-1v1h1v-1zm-7 0h-1v1h1v-1zm-7 0h-1v1h1v-1zm28-6h-1v1h1v-1zm-7 0h-1v1h1v-1zm-7 0h-1v1h1v-1zm-7 0h-1v1h1v-1zm-7 0h-1v1h1v-1zm28-6h-1v1h1v-1zm-7 0h-1v1h1v-1zm-7 0h-1v1h1v-1zm-7 0h-1v1h1v-1zm-7 0h-1v1h1v-1zm-2-8h-1v6h-8v1h8v5h-8v1h8v5h-8v1h8v5h-8v1h8v6h1v-6h6v6h1v-6h6v6h1v-6h6v6h1v-6h6v6h1v-6h6v6h1v-6h8v-1h-8v-5h8v-1h-8v-5h8v-1h-8v-5h8v-1h-8v-6h-1v6h-6v-6h-1v6h-6v-6h-1v6h-6v-6h-1v6h-6v-6h-1v6h-6v-6zm34 24v-5h-6v5h6zm-7 0v-5h-6v5h6zm-7 0v-5h-6v5h6zm-7 0v-5h-6v5h6zm-7 0v-5h-6v5h6zm28-6v-5h-6v5h6zm-7 0v-5h-6v5h6zm-7 0v-5h-6v5h6zm-7 0v-5h-6v5h6zm-7 0v-5h-6v5h6zm28-6v-5h-6v5h6zm-7 0v-5h-6v5h6zm-7 0v-5h-6v5h6zm-7 0v-5h-6v5h6zm-7 0v-5h-6v5h6zm-12-10h1v1h-1v-1zm7 0h1v1h-1v-1zm7 0h1v1h-1v-1zm7 0h1v1h-1v-1zm7 0h1v1h-1v-1zm7 0h1v1h-1v-1zm7 0h1v1h-1v-1zm-42 6h1v1h-1v-1zm43 0h-1v1h1v-1zm-42 6h-1v1h1v-1zm41 0h1v1h-1v-1zm-42 6h1v1h-1v-1zm43 0h-1v1h1v-1zm-42 6h-1v1h1v-1zm7 0h-1v1h1v-1zm7 0h-1v1h1v-1zm7 0h-1v1h1v-1zm7 0h-1v1h1v-1zm7 0h-1v1h1v-1zm7 0h-1v1h1v-1zm-36-44a2 2 0 0 0-2 2v1h-12v57h60V23h-12v-1a2 2 0 1 0-4 0v1h-28v-1a2 2 0 0 0-2-2zm1 6v-4a1 1 0 1 0-2 0v4a1 1 0 1 0 2 0zm1-1v1a2 2 0 1 1-4 0v-1h-10v4h56v-4h-10v1a2 2 0 1 1-4 0v-1h-28zm31 1v-4a1 1 0 1 0-2 0v4a1 1 0 1 0 2 0zm11 45h-56V33h56v38zm0-40h-56v-1h56v1zm-56 45h20v1h-20v1h56v-1h-11v-1h11v-1h-19v-1h19v-1h-56v1h15v1h-15v1zm103 155h50v38h-50v-38zm12 1h8v1h-8v-1zm9 1v-1h8v1h-8zm8 1h-8v3.84l.95 2.84 3 9 .05.16.05-.16.23-.68h2.31l1.41-1.41V234zm0 16.41l-.3.3-.29.29h-1.69l-.77 2.32-.95 2.84-.95-2.84-1-3-2.05-6.16V266h8v-15.59zm-9-9.57V234h-8v14.59l.41.41h2l.3.3 1.29 1.29 1.13-1.13 2.87-8.62zM437 251h1.59l1.7 1.7.71.71.7-.7 2-2 .17-.17.08-.22 1.05-3.16V266h-8v-15zm-1-3.41V234h-8v15h4.59l1.7-1.7.71-.71.7.7.3.3zm-8 3.41h5.41l.3-.3 1.29-1.29 1 1V266h-8v-15zm-1-2v-16h9v-1h-10v17h1zm-1 2v17h10v-1h-9v-16h-1zm29-1.59l2-2 3.3 3.3.29.29h2l.41.41V266h-8v-16.59zm8-.41h-1.59l-3.7-3.7-.71-.71-.7.7-1.3 1.3V234h8v15zm1 3.41V266h8v-15h-4.59l-1.7 1.7-.71.71-.7-.7-.3-.3zm8-3.41h-5.41l-.3.3-1.29 1.29-1-1V234h8v15zm1 2v16h-9v1h10v-17h-1zm1-2v-17h-10v1h9v16h1zm-19 18h8v1h-8v-1zm8-34v-1h-8v1h8zm-9 35v-1h-8v1h8zm-9-1v1h-8v-1h8zm-25-38a3 3 0 0 1 3-3h54a3 3 0 0 1 3 3v42a3 3 0 0 1-3 3h-54a3 3 0 0 1-3-3v-42zm3-1h54a1 1 0 0 1 1 1v42a1 1 0 0 1-1 1h-54a1 1 0 0 1-1-1v-42a1 1 0 0 1 1-1zm-85.74-87.37A12 12 0 0 1 348 134v1a11 11 0 0 0-9.84 6.08l-.9-.45zm38 21.5A7 7 0 0 1 369 166h-12v-1h12a6 6 0 0 0 5.37-3.32l.9.45zM348 130a16 16 0 0 1 13.9 8.07 9 9 0 0 1 10 10.32A11 11 0 0 1 369 170h-36a13 13 0 0 1-.88-25.97A16 16 0 0 1 348 130zm12.16 9.06l.66 1.15 1.32-.16a7 7 0 0 1 7.78 8.03l-.28 1.77 1.73.46A9 9 0 0 1 369 168h-36a11 11 0 0 1-.75-21.98l1.65-.1.2-1.65a14 14 0 0 1 26.06-5.21zM132 337a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm1-2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-8-11h7v1h-7a1 1 0 0 0-1 1v4h-1v-4c0-1.1.9-2 2-2zm49 31v7a1 1 0 0 1-1 1h-13v1h13a2 2 0 0 0 2-2v-7h-1zm-17 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm-8 0a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 2a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm18 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm-27-12h20v1h-20v-1zm-6 22v-6l-2 2-2 2v-10h-6a6 6 0 0 1-6-6v-18a6 6 0 0 1 6-6h28a6 6 0 0 1 6 6v10h14a6 6 0 0 1 6 6v20a6 6 0 0 1-6 6h-8v12l-2-2-10-10h-12a6 6 0 0 1-6-6zm22-26v-10a4 4 0 0 0-4-4h-28a4 4 0 0 0-4 4v18a4 4 0 0 0 4 4h8v7.17l2-2V342a6 6 0 0 1 3.06-5.23 2 2 0 1 1 2.67-.76l.27-.01h3.27a2 2 0 1 1 3.46 0H157zm-11 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm7.83 30l.58.59 8.59 8.58V366h10a4 4 0 0 0 4-4v-20a4 4 0 0 0-4-4h-32a4 4 0 0 0-4 4v20a4 4 0 0 0 4 4h12.83zM140 335a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM428 56a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm44 0a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm3-5v-6a25 25 0 0 0-50 0v6a5 5 0 0 0 2.19 8.93L433 70v6h3l1.45 2.9a2 2 0 0 0 1.79 1.1H443a1 1 0 0 0 1-1h1a3 3 0 0 0 3-3V60a3 3 0 0 0-3-3h-1a1 1 0 0 0-1-1h-3.76a2 2 0 0 0-1.8 1.1L436 60h-1.85l-1.64-2.84A4.98 4.98 0 0 0 431 51v-6c0-5.25 2.13-10 5.56-13.43l1.42 1.4.7.72c2.9-2.9 6.9-4.69 11.32-4.69s8.42 1.8 11.31 4.69l.71-.71 1.42-1.41A18.94 18.94 0 0 1 469 45v6a5 5 0 0 0-1.51 6.16L465.85 60H464l-1.45-2.9a2 2 0 0 0-1.79-1.1H457a1 1 0 0 0-1 1h-1a3 3 0 0 0-3 3v16a3 3 0 0 0 3 3h1a1 1 0 0 0 1 1h3.76a2 2 0 0 0 1.8-1.1L464 76h3v-6l5.81-10.07A5 5 0 0 0 475 51zm-2-6a23 23 0 1 0-46 0v5.1a5.02 5.02 0 0 1 2 0V45a21 21 0 1 1 42 0v5.1a5.02 5.02 0 0 1 2 0V45zm-17 32V59h-1a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h1zm2 1h1V58h-1v20zm6-4h1V62h-1v12zm-2-13.53v15.06L460.76 78H460V58h.76l1.24 2.47zm5 5.53v-4l1.82-3.14c.5.42 1.1.74 1.76.94L467 66zm-17-40c4.89 0 9.34 1.84 12.7 4.88l-1.4 1.41c-3-2.67-6.97-4.29-11.3-4.29-4.33 0-8.3 1.62-11.3 4.3l-1.4-1.42-.08.06A18.93 18.93 0 0 1 450 26zm-19 29a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm13 4v18h1a1 1 0 0 0 1-1V60a1 1 0 0 0-1-1h-1zm-2-1h-1v20h1V58zm-6 4h-1v12h1V62zm2 13.53V60.47l1.24-2.47h.76v20h-.76L438 75.53zM433 62v4l-3.58-6.2c.65-.2 1.25-.52 1.76-.94L433 62zm36-7a3 3 0 1 0 6 0 3 3 0 0 0-6 0zM342 424h4v1h-4v-1zm-1 51.5c0-.83.67-1.5 1.5-1.5h3a1.5 1.5 0 0 1 0 3h-3a1.5 1.5 0 0 1-1.5-1.5zm1.5-.5h3a.5.5 0 1 1 0 1h-3a.5.5 0 1 1 0-1zm2.43-31.21l-.86-.5-4 6.92.86.5 4-6.92zm1 3l-.86-.5-4 6.92.86.5 4-6.92zM365.5 474a1.5 1.5 0 0 0 0 3h3a1.5 1.5 0 0 0 0-3h-3zm3 1h-3a.5.5 0 1 0 0 1h3a.5.5 0 1 0 0-1zm-.43-24.71l.86.5-4 6.92-.86-.5 4-6.92zm1 3l.86.5-4 6.92-.86-.5 4-6.92zM357 441h20v32h-20v-32zm1 1h18v30h-18v-30zm7-4h4v1h-4v-1zm-7 42h-34a4 4 0 0 1-4-4v-52a4 4 0 0 1 4-4h40a4 4 0 0 1 4 4v10h8a4 4 0 0 1 4 4v38a4 4 0 0 1-4 4h-18zm-34-58h40a2 2 0 0 1 2 2v10h-2v-7h-40v46h30v3c0 .73.2 1.41.54 2H324a2 2 0 0 1-2-2v-52c0-1.1.9-2 2-2zm30 50v-34a4 4 0 0 1 4-4h5v-6h-38v44h29zm4-36h18a2 2 0 0 1 2 2v38a2 2 0 0 1-2 2h-18a2 2 0 0 1-2-2v-38c0-1.1.9-2 2-2zm-12-80a8 8 0 0 0 8-8h-1a7 7 0 0 1-7 7v1zm-20 5h-1v-10h1v10zm27.44-17.89c-.24.5 0 .89.56.89h6v.03c.16-.02.33-.03.5-.03h13a4.5 4.5 0 0 1 3.55 7.27 4.5 4.5 0 0 1 0 8.46 4.48 4.48 0 0 1-2 7 4.5 4.5 0 0 1-3.55 7.27h-11c-.17 0-.34 0-.5-.03v.03h-13a12 12 0 0 1-11.32-8H329v5h-9v-24h9v3h6.28a11.1 11.1 0 0 1 2.55-4.83l7.47-7.47c.38-.38.7-1.15.7-1.7v-7a2 2 0 0 1 2-2h1a6 6 0 0 1 6 6v5c0 1.1-.4 2.8-.9 3.79l-.1.21-.56 1.11zM329 364v-12h6v2h2v-2a9.15 9.15 0 0 1 2.25-5.42l7.46-7.46A4.74 4.74 0 0 0 348 336v-7h1a4 4 0 0 1 4 4v5c0 .8-.33 2.18-.68 2.9l-.67 1.32c-.5 1-.35 2.04.22 2.78H348v1h8.76a4.48 4.48 0 0 0 .91 6 4.5 4.5 0 0 0 0 7 4.5 4.5 0 0 0 0 7 4.5 4.5 0 0 0-.91 6H347a10 10 0 0 1-10-10h-2c0 .69.06 1.35.16 2H329zm31.5-11h15a2.5 2.5 0 0 1 0 5h-15a2.5 2.5 0 0 1 0-5zm15.5-4.5a2.5 2.5 0 0 1-2.5 2.5h-13a2.5 2.5 0 0 1 0-5h13a2.5 2.5 0 0 1 2.5 2.5zM360.5 360a2.5 2.5 0 0 0 0 5h13a2.5 2.5 0 0 0 0-5h-13zm0 7h11a2.5 2.5 0 0 1 0 5h-11a2.5 2.5 0 0 1 0-5zm-33.5 2h-5v-20h5v20zM50 324c1.75 0 3.45.17 5.1.5l-.2.98a25.12 25.12 0 0 0-9.8 0l-.2-.98c1.65-.33 3.35-.5 5.1-.5zm26 26c0 1.75-.17 3.45-.5 5.1l-.98-.2a25.12 25.12 0 0 0 0-9.8l.98-.2c.33 1.65.5 3.35.5 5.1zm-26 26c-1.75 0-3.45-.17-5.1-.5l.2-.98a25.12 25.12 0 0 0 9.8 0l.2.98c-1.65.33-3.35.5-5.1.5zm-26-26c0-1.75.17-3.45.5-5.1l.98.2a25.12 25.12 0 0 0 0 9.8l-.98.2c-.33-1.65-.5-3.35-.5-5.1zm35.49-28.47A29.77 29.77 0 0 0 50 320a30.05 30.05 0 0 0-9.49 1.53l.16.47H34a12 12 0 0 0-12 12v6.67l-.47-.16A29.8 29.8 0 0 0 20 350a30.05 30.05 0 0 0 1.53 9.49l.47-.16V366a12 12 0 0 0 12 12h6.67l-.16.47A29.75 29.75 0 0 0 50 380a30.05 30.05 0 0 0 9.49-1.53l-.16-.47H66a12 12 0 0 0 12-12v-6.67l.47.16A29.77 29.77 0 0 0 80 350a30.05 30.05 0 0 0-1.53-9.49l-.47.16V334a12 12 0 0 0-12-12h-6.67l.16-.47zM34 323h7l.14.43c-.52.17-1.04.37-1.55.57H34a10 10 0 0 0-10 10v5.59c-.2.5-.4 1.03-.57 1.55L23 341v-7a11 11 0 0 1 11-11zm0 2h3.38A28.12 28.12 0 0 0 25 337.38V334a9 9 0 0 1 9-9zm-11 41v-7l.43-.14c.17.52.37 1.04.57 1.55V366a10 10 0 0 0 10 10h5.59c.5.2 1.03.4 1.55.57L41 377h-7a11 11 0 0 1-11-11zm2 0v-3.38A28.12 28.12 0 0 0 37.38 375H34a9 9 0 0 1-9-9zm41 11h-7l-.14-.43c.52-.17 1.04-.37 1.55-.57H66a10 10 0 0 0 10-10v-5.59c.2-.5.4-1.03.57-1.55l.43.14v7a11 11 0 0 1-11 11zm0-2h-3.38A28.12 28.12 0 0 0 75 362.62V366a9 9 0 0 1-9 9zm11-41v7l-.43.14a27.9 27.9 0 0 0-.57-1.55V334a10 10 0 0 0-10-10h-5.59c-.5-.2-1.03-.4-1.55-.57L59 323h7a11 11 0 0 1 11 11zm-2 0v3.38A28.12 28.12 0 0 0 62.62 325H66a9 9 0 0 1 9 9zm-49.67 24.22a26.07 26.07 0 0 0 16.45 16.45l3.16-9.49a16.04 16.04 0 0 1-10.12-10.12l-9.5 3.16zm11.38-3.8a14.04 14.04 0 0 0 8.86 8.87l.63-1.9a11.99 11.99 0 0 0 7.6 0l.63 1.9a14.04 14.04 0 0 0 8.86-8.86l-1.9-.63a11.99 11.99 0 0 0 0-7.6l1.9-.63a14.04 14.04 0 0 0-8.86-8.86l-.63 1.9a11.99 11.99 0 0 0-7.6 0l-.63-1.9a14.04 14.04 0 0 0-8.86 8.86l1.9.63a11.99 11.99 0 0 0 0 7.6l-1.9.63zm-1.9-9.48a16.04 16.04 0 0 1 10.13-10.12l-3.16-9.5a26.07 26.07 0 0 0-16.45 16.46l9.49 3.16zm30.37 0a16.04 16.04 0 0 0-10.12-10.12l3.16-9.5a26.07 26.07 0 0 1 16.45 16.46l-9.49 3.16zm-10.12 20.24a16.04 16.04 0 0 0 10.12-10.12l9.5 3.16a26.07 26.07 0 0 1-16.46 16.45l-3.16-9.49zM50 322c2.44 0 4.72.29 6.94.86l-4.46 13.37c-.82-.14-1.66-.23-2.48-.23-.82 0-1.66.09-2.48.23l-4.46-13.37c2.22-.57 4.5-.87 6.94-.86zm27.14 34.94c.57-2.22.87-4.5.86-6.94 0-2.44-.29-4.72-.86-6.94l-13.37 4.46c.14.82.23 1.66.23 2.48 0 .82-.09 1.66-.23 2.48l13.37 4.46zm-34.08 20.2c2.22.57 4.5.87 6.94.86 2.44 0 4.72-.29 6.94-.86l-4.46-13.37c-.82.14-1.66.23-2.48.23-.82 0-1.66-.09-2.48-.23l-4.46 13.37zM22 350c0-2.44.29-4.72.86-6.94l13.37 4.46c-.14.82-.23 1.66-.23 2.48 0 .82.09 1.66.23 2.48l-13.37 4.46c-.57-2.22-.87-4.5-.86-6.94z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }

.bg-white {
  background-color: #fff; }

.bg-dark {
  background-color: #303034; }

.bg-grey {
  background-color: #F3F8F7; }

.bg-split {
  background: linear-gradient(90deg, #e9eeed 50%, rgba(255, 255, 255, 0) 50%);
  background: -webkit-linear-gradient(0deg, #e9eeed 50%, rgba(255, 255, 255, 0) 50%); }

.aligned-left {
  text-align: left; }

.aligned-center {
  text-align: center; }

.text-transform-ac {
  text-transform: uppercase; }

.font-size-sm {
  font-size: 1rem; }

.font-size-xl {
  font-size: 1.5rem; }

.heroicon-home {
  margin-bottom: 14px; }

.heroicon-example-outline .heroicon-property-shadows {
  display: none; }
.heroicon-example-outline .heroicon-property-accent {
  display: none; }
.heroicon-example-outline .heroicon-property-fill {
  display: none; }

.heroicon-example-shadows .heroicon-property-accent {
  display: none; }
.heroicon-example-shadows .heroicon-property-fill {
  display: none; }

.heroicon-outline {
  fill: #303034; }

.heroicon-property-shadows {
  opacity: 0.4;
  fill: #303034; }

.heroicon-property-fill {
  fill: #fff; }

.heroicon-property-accent {
  fill: #7AD0C0; }

.heroicon-sm {
  margin-left: 20px; }

.heroicon-example-full-color .heroicon-home-door {
  fill: #DF7171; }
.heroicon-example-full-color .heroicon-home-windows {
  fill: #E3F7FA; }
.heroicon-example-full-color .heroicon-home-frames {
  fill: #B1C7C4; }
.heroicon-example-full-color .heroicon-home-wall {
  fill: #F4F5DD; }
.heroicon-example-full-color .heroicon-home-parging {
  fill: #F1F5F4; }

.headline {
  width: 50%;
  padding: 32px 50px 88px 0;
  text-align: left; }

.float-left {
  float: left; }

.margin-left-1 {
  margin-left: 10px; }

.margin-left-2 {
  margin-left: 20px; }

.margin-right-2 {
  margin-right: 20px; }

.margin-bottom-2 {
  margin-bottom: 20px; }

.padding-2 {
  padding: 20px; }

code {
  display: block;
  color: #727875;
  font-size: 0.75rem;
  background-color: inherit;
  padding: 0rem;
  line-height: 1.5rem; }

.icon-property-color {
  width: 14px;
  height: 14px;
  margin: 0 4px;
  border-radius: 2px;
  border: 1px solid #9D9D9D;
  display: inline-block; }

.box-overlay {
  padding: 10px;
  max-width: 620px;
  margin: 0 auto; }

.border-2px {
  border: 2px solid #303034;
  padding: 4px; }

.border-1px {
  border: 1px solid #303034; }

.margin-bottom-md {
  margin-bottom: 40px; }

.avatar {
  float: left; }

.personal-bio {
  float: left; }

.btn-twitter {
  background: #55ACEE;
  color: #fff; }

.btn-dribbble {
  background: #EA4C89;
  color: #fff; }

.btn-full-width {
  width: 100%;
  margin-bottom: 20px; }

.svg-icon {
  margin-top: -2px; }

.svg-icon-social svg {
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -2px; }

@media (max-width: 992px) {
  .float-left {
    float: none; }

  .margin-left-1 {
    margin-left: 0px; }

  .btn-full-width {
    width: auto;
    margin-bottom: 20px;
    margin-right: 10px; } }
@media (max-width: 768px) {
  .logo {
    padding-top: 36px;
    text-align: center; }

  header.bg-pattern {
    padding-bottom: 160px; }

  .bg-split {
    background: #e9eeed; }

  .headline {
    text-align: center;
    width: 100%;
    padding: 32px 0px 88px 0; }

  .headline .line-break-left {
    background-color: #7AD0C0;
    width: 60px;
    height: 2px;
    margin: 14px auto; }

  .float-left {
    float: left; }

  .margin-left-1 {
    margin-left: 10px; }

  code {
    font-size: 0.75rem; }

  .mobile-hide {
    display: none; }

  .mobile-center {
    text-align: center; }

  .btn-full-width {
    width: 100%;
    margin-bottom: 20px; } }
@media (max-width: 375px) {
  code {
    font-size: 0.75rem; } }
@media (max-width: 320px) {
  .margin-left-1 {
    margin-left: 0px; }

  .margin-left-2 {
    margin-left: 0px; }

  code {
    font-size: 0.625rem; } }

/*# sourceMappingURL=main.css.map */
